/* Resetando margens e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilizando o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Estilos do cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin-left: 20px;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Seção de produtos */
.produtos {
    padding: 30px 20px;
    background-color: white;
}

.produtos h2 {
    text-align: center;
    margin-bottom: 20px;
}

.produtos-lista {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.produto h3 {
    margin-top: 15px;
    font-size: 18px;
}

.produto p {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

.produto button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.produto button:hover {
    background-color: #45a049;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
